<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Unsupervised Learning/src/edu/gatech/ml/assignment3/FirstTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.gatech.ml.assignment3.FirstTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Unsupervised Learning"/>
</launchConfiguration>
